@model ExpenseVsBudgetViewModel

<div class="quick-stats__item">
    <div class="quick-stats__info">
        <h2><span>$</span>@Model.ExpenseTotal / <span>$</span>@Model.BudgetGoal.Amount</h2>
        <small>Monthly Expenses Vs. Budget</small>
    </div>
</div>